<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="card border-success">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/shieldfactory.png" width="100%">
            </div>
            <div class="col-md-8">
              <form>
                <div class="form-group mb-2">
                  <label>Email</label>
                  <input class="form-control" type="email" name="email" placeholder="Enter email" [(ngModel)]="email" required />
                </div>
                <div class="form-group mb-2">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" placeholder="Enter password" [(ngModel)]="password" required />
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register user</a>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-success btn-block mb-1" (click)="onClickLogin()">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
