<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="card border-success">
        <div class="card-header">
          Register New User
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/shieldfactory.png" width="100%">
            </div>
            <div class="col-md-8">
              <form>
                <div class="form-group mb-2">
                  <label>Email</label>
                  <input class="form-control" type="email" name="email" placeholder="Enter email" [(ngModel)]="email"
                  maxlength="50" required />
                </div>
                <div class="form-group mb-2">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" placeholder="Enter password" [(ngModel)]="password"
                    required />
                </div>
                <div class="mb-2">
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
                </div>
                <div>
                  <button class="btn btn-success btn-block mb-1" (click)="onClickRegister()">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
