<button type="button" class="btn btn-outline-primary btn-lg" [routerLink]="['/home']">⟵ Back to the previous page</button>

<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="card border-success">
        <div class="card-header">
          <h1>List of available VPN</h1>
        </div>
        <div class="card-body">
          <!--Mettre les différents VPN ici, avec les wg0.conf-->
          <div class="VPNconnection">
            <button type="button" name="button">Connect to this VPN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navigation">
  <div class="tutorial">
    <button class="btn btn-primary btn-lg" [routerLink]="['/tutorial']">Need help ? See this Online tuto</button>
  </div>
  <div class="editProfile">
    <button class="btn btn-primary btn-lg" [routerLink]="['/profileManagment']">Manage your connection profiles</button>
  </div>
</div>
