<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="card border-info">
        <div class="card-header">
          Forgot Password
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/shieldfactory.png" width="100%">
            </div>
            <div class="col-md-8">
              <form>
                <div class="form-group mb-2">
                  <label>Email</label>
                  <input class="form-control" type="email" placeholder="Enter email" required #email name="email"/>
                </div>
                <button class="btn btn-success btn-block" (click)="authService.sendResetPasswordMail(email.value)">Send Email</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
